#content{
    width: 80%;
    margin: 0em auto;
}

@media screen and (max-width:767px){
    #content{
        width:100%;
    }
}

body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    border-bottom: cornflowerblue solid 5px;
}

#content ul li,
#content ol li {
    margin-bottom: 0.5em;
}